<%= form_for(@tweet) do |f| %>
<!--  check for errors-->
<% if @tweet.errors.any?  %>
<div id= "error_explanation" class="">
  <h2>
    <%= pluralize(@tweet.errors.count, 'error') %> prohibited this tweet
    from being saved:
  </h2>
  <!--loop through errors  -->
  <ul>
    <% @tweet.errors.full_messages.each do |error_message| %>
    <li> <% error_message %> </li>
    <% end %>
  </ul>
</div>
<% end %>

<!-- actual form -->
<div class="panel panel-default">
  <div class="panel-body">
    <%= f.label :message ,class: 'form-group'%> <br>
    <%= f.text_field :message ,class: 'form-control' %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  <div class="panel-footer">
    <%= f.submit class: 'btn btn-default'%>
  </div>


</div>

<% end  %>
