<p id='notice'><%= notice %></p>

<% @tweets.each do |tweet| %>

  <div class="panel panel-default">
    <div class="panel-body">
      <ul class="list-inline">
        <li><%= image_tag(tweet.user.avatar.url(:thumb), class: 'round-image-50') %></li>
        <li><strong><%= tweet.user.username %></strong> wrote:</li>
        <li>"<%=tweet.message %>"</li>
        <li><%= time_ago_in_words(tweet.created_at)%> ago</li>
      </ul>

    </div>
    <div class="panel-footer">
      <ul class="list-inline">
        <li><span class="badge">0</span>  Comments</a></li>
        <li><span class="badge"><%= tweet.likes.count %></span>  Likes</a></li>
        <li></li>
        <li><%= link_to 'More', tweet %></li>
      </ul>
    </div>
  </div>


<% end %>
